html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 1.5rem;
}

h2 {
  font-size: 3rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: .4em .75em .3em;
  list-style-type: none;
  text-align: center;
  border-width: 3px;
  border-style: solid;
  border-color: #333;
  border-radius: 8px;
  background-color: #333;
  color: #fff;
  font-size: 1.125rem;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
}

.btn-big {
  font-size: 1.5rem;
}

.img-flex {
  display: block;
  width: 100%;
}

.content {
  width: 100%;
  position: absolute;
  z-index: 2;
  max-width: 45em;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.banner {
  overflow: hidden;
  max-height: 500px;
  position: relative;
}

.mecha {
  float: left;
  width: 35%;
  padding-left: 1em;
  padding-right: 1em;
}

.text {
  float: right;
  width: 60%;
  padding-left: 1em;
  padding-right: 1em;
}
