html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: .4em .75em .3em;
  list-style-type: none;
  text-align: center;
  border-width: 3px;
  border-style: solid;
  border-color: #333;
  border-radius: 8px;
  background-color: #333;
  color: #fff;
  font-size: 1.125rem;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
}
